# Object Files
*.o
# Complied Library Files
*.so
*.so.1.0
libWebX.so.1.0
# Complied WebXServer
WebXServer
# Compiled Tests
Tests/build/
# CMake Build files
build/*
# VS Code files
.vscode
# Custom HTML
Site/
snipp/
viz/

*.mp4
gzip/